{% extends "navbar.html" %}

{% block title %}Cursos{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cursos.css') }}">
{% endblock %}

{% block body %}
<div>
    <h1 class="title">Estos son los cursos disponibles en nuestra aula virtual.</h1>
    <div class="card-container">
        {% for curso in cursos %}
            <div class="card">
                <div class="card-title">{{ curso.nombre_curso }}</div>
                <div class="card-description">Descripción breve del curso.</div>
                <a href="{{ url_for('mostrar_materias', id_curso=curso.id_curso) }}" class="btn">Ver materias</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
