{% block extra_styles %}
<title>Iniciar sesión</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/iniciar_sesion.css') }}" />
{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Iniciar Sesión</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.dni }}
        {{ form.contraseña }}
        
        <button type="submit">Iniciar Sesión</button>
    </form>
    
    <a href="{{ url_for('registrarse') }}" class="btn-registrarse">Registrarse</a>
</div>
{% endblock %}
