{% extends "navbar.html" %}

{% block title %}Materias{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/materias.css') }}">
{% endblock %}

{% block body %}
<div>
    <h1 class="title">Materias del Curso</h1>
    <div class="card-container">
        {% for materia in materias %}
            <div class="card">
                <div class="card-title">{{ materia.nombre_materia }}</div>
                <div class="card-description">{{ materia.nombre_profesor }}</div>
            </div>
        {% endfor %}
    </div>

    <p>Rol actual: {{ current_user.roles.rol_usuario }}</p>


    {% if current_user.roles.rol_usuario == "Profesor" %}
    <!-- Crear botón que solo se renderiza si tu rol es profesor -->
    <a href="{{ url_for('materias') }}" class="btn" id="abrirModalBtn">Crear Nueva Materia</a>

    <!-- Modal -->
    <div class="modal" id="myModal">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <h2>Crear Nueva Materia</h2>

            <form action="{{ url_for('materias') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.nombre_materia.label }}
                    {{ form.nombre_materia(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.nombre_profesor.label }}
                    {{ form.nombre_profesor(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
        </div>
    </div>
    {% endif %}


    <script>
        document.addEventListener('DOMContentLoaded', function () {
    var modal = document.getElementById("myModal");
    var btnAbrir = document.getElementById("abrirModalBtn");
    var btnCerrar = document.getElementById("closeModalBtn");

    // Abrir el modal
    btnAbrir.addEventListener("click", function(event) {
        event.preventDefault(); // Previene la recarga
        modal.style.display = "block";
    });

    // Cerrar el modal
    btnCerrar.addEventListener("click", function() {
        modal.style.display = "none";
    });

    // Cerrar el modal al hacer clic fuera
    window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });

    </script>

</div>
{% endblock %}
